

/* .image {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
} */

/* .image:nth-child(2) {
  top: 100px;
}

.image:nth-child(3) {
  top: 200px;
}
.image:nth-child(4) {
  top: 300px;
}
.image:nth-child(5) {
  top: 400px;
}
.image:nth-child(6) {
  /* top: 500px; */
 /* */

.thumbnail {
  width: 75%;
  display: inline-block !important;
}


.jumbotron {
  padding-top: 0 0 !important;
}

.gainers {
  display: inline-block !important;
}

#viz {
  width: 100%;
  /* text-align: center; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

input[type="text"]  {
  /* Your CSS styles here */
  font-size: 1rem;
}

input[type="number"]  {
  /* Your CSS styles here */
  font-size: 1rem;
}

.input-group-text  {
  /* Your CSS styles here */
  font-size: 1rem;
}

.display-4, .lead {
  text-align: center;
}

.input-heading {
  font-weight: bold;
}

.portfolio-retrieval {
  justify-self: end;
}

.inline-h4 {
  display: inline;
}

.portfolio_header {
  align-self: flex-end;
}

h4 span {
  font-size: 2rem;
  color:blue;
}

