
.thumbnail {
  /* width: 60%; */
  /* display: inline-block !important; */
}


.jumbotron {
  padding-top: 0 0 !important;
}

.gainers {
  display: inline-block !important;
}

#viz {
  width: 100%;
  /* text-align: center; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0;
}

input[type="text"]  {
  /* Your CSS styles here */
  font-size: 1rem;
}

input[type="number"]  {
  /* Your CSS styles here */
  font-size: 1rem;
}

.input-group-text  {
  /* Your CSS styles here */
  font-size: 1rem;
}

.display-4, .lead {
  text-align: center;
}

.input-heading {
  font-weight: bold;
}

.portfolio-retrieval {
  justify-self: end;
}

.inline-h4 {
  display: inline;
}

.portfolio_header {
  align-self: flex-end;
}

h4 span {
  font-size: 2rem;
  color:blue;
}

