.container {
  /* position: relative; */
}

/* .image {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
} */

/* .image:nth-child(2) {
  top: 100px;
}

.image:nth-child(3) {
  top: 200px;
}
.image:nth-child(4) {
  top: 300px;
}
.image:nth-child(5) {
  top: 400px;
}
.image:nth-child(6) {
  /* top: 500px; */
 /* */

.thumbnail {
  width: 75%;
  display: inline-block !important;
}

.jumbotron {
  padding-top: 0 0 !important;
}

.gainers {
  display: inline-block !important;
}
